<!DOCTYPE html>
<html lang="en">
<head>
  <title>LeetHelper</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js-bootstrap-css/1.2.1/typeaheadjs.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@2/dist/tagify.min.css">
  <link rel="stylesheet" href="/static/main_v1.css">

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
    

  <!-- Bootstrap core CSS -->
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
  
  
  <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='icon.jpeg') }}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/bloodhound.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@2/dist/tagify.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.8.0/js/all.js" integrity="sha384-ukiibbYjFS/1dhODSWD+PrZ6+CGCgf8VbyUH7bQQNUulL+2r59uGYToovytTf4Xm" crossorigin="anonymous"></script>

  <style>
    h4 {
      position: relative;
      text-transform: uppercase;
      overflow: hidden;
      background: linear-gradient(90deg, #E9967A, #FBBC05, #E9967A);
      background-repeat: no-repeat;
      background-size: 80%;
      animation: animate 3s linear infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
    
    @keyframes animate {
      0% {
        background-position: -500%;
      }
      100% {
        background-position: 500%;
      }
    }
    
    </style>

</head>



<body style = "background-color: #CD5C5C; font-family: 'Oxygen Mono', monospace; ">
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <img class="logo" src="{{ url_for('static', filename='icon.gif') }}" style="margin-bottom: -5%" />
        <h1 style="font-size: 55px; font-family:Impact, Haettenschweiler, 'Bold'; color: #FFA07A">
          L
          <span style="color: #CD5C5C; ">ee</span>
          <span style="color: #FBBC05; ">t</span>
          <span style="color: #CD5C5C; ">Helper</span>
       </h1>
       
      <h4 style="font-size: 20px; font-weight: normal; color: #E9967A;">Getting hints & similar questions for your coding questions</h4>
      <h4 style="font-weight: normal; color: #E9967A;">----------</h4>
      </div>
    </section>

    <section>
        <div class="container text-center input_section" style="margin-top:-6%;">
            <form>
                <div class="jumbotron text-center">
                  <div>
                      <!--<input id="input" type="text" name="search" class="form-control" placeholder="Your coding problem prompt" value="{{query}}">-->
                      <textarea id="input" name="search" class="form-control" placeholder="Your coding problem prompt" rows=5>{{query}}</textarea>
                   </div>
                   <div class="row justify-content-center" style="margin-top: 3%;" >
                      <button type="submit" class= "btn btn-outline-danger" style="font-size: 18px; "> Search it! </button>
                    </div>
              
                </div>
              </form>
        </div>
      </section>
      
             
    {% if topQuestions and topHints %}
    <section>
      <div class="container output" style="margin-top:5%;">
        <ul class="nav nav-pills mb-3 tabs-bordered justify-content-center">
          <li class="nav-item"><a href="#hints" data-toggle="tab" aria-expanded="true" class="nav-link active btn-outline-light" style="font-size: 20px; color: #d0902f">Hints </a></li>
          <li class="nav-item"><a href="#questions" data-toggle="tab" aria-expanded="false" class="nav-link btn-outline-light" style="font-size: 20px; color: #a15501">Similar Questions</a></li>
        </ul>

        <div class="tab-content">

          <div class="tab-pane fade" id="questions">
            <div class="album py-5">
              <div class="container">
          
                <div>
                  {% if topQuestions %}
                  <ul class="nav nav-pills mb-3 justify-content-end" id="pills-tab" role="tablist" >
                    <li class="nav-item">
                      <a class="nav-link active btn-outline-light" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" style="font-size: 18px; color: #a15501"> Sort by Similarity Score </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link btn-outline-light" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" style="font-size: 18px; color: #a15501"> Sort by Question Popularity </a>
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      {% for q in topQuestions %}
                      <div class="col">
                        <div class="card shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" style="font-size: 18px;" width="100%" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#a15501"/><text text-anchor="middle" y="50%" x="50%" fill="white" dy=".3em">{{q[0]}}</text></svg>
              
                          <div class="card-body">
                            <button class="btn btn-outline-light" style="font-size: 13px; color:#a15501;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              Score
                            </button>
                        
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body" style="font-size: 13px;">
                              The similarity score is: {{q[2]}} 
                            </div>
                          </div>
                          <br>
                          <br>
                            <p class="card-text">{{q[4]}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <a href="{{q[1]}}" target="_blank" rel="noopener noreferrer" ><button type="button" class="btn btn-sm btn-outline-light" style="color: #a15501;">Link to Question</button></a>
                              </div>
                              <small class="text-muted"><i class="far fa-thumbs-up" style="color:#FFA07A;"></i> {{q[5]}}   <i class="far fa-thumbs-down" style="color:#FBBC05;"></i> {{q[6]}} </small>
                              {% if q[3] == 'Medium' %}
                              <small class="text-warning"> Difficulty: {{q[3]}} </small>
                              {% elif q[3] == 'Easy'%}
                              <small class="text-success"> Difficulty: {{q[3]}} </small>
                              {% else %}
                              <small class="text-danger"> Difficulty: {{q[3]}} </small>
                              {% endif %}
                            </div>
                        
                              

                          </div>
                        </div>
                      </div>
                      <br>                 
                      {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      {% for q in topQuestionsVote %}
                      <div class="col">
                        <div class="card shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" style="font-size: 18px;" width="100%" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#a15501"/><text text-anchor="middle" y="50%" x="50%" fill="white" dy=".3em">{{q[0]}}</text></svg>
              
                          <div class="card-body">
                            <button class="btn btn-outline-light" style="font-size: 13px; color:#a15501;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              Score
                            </button>
                        
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body" style="font-size: 13px;">
                              The similarity score is: {{q[2]}} 
                            </div>
                          </div>
                          <br>
                          <br>

                            <p class="card-text">{{q[4]}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <a href="{{q[1]}}" target="_blank" rel="noopener noreferrer" ><button type="button" class="btn btn-sm btn-outline-light" style="color: #a15501;">Link to Question</button></a>
                              </div>
                              <small class="text-muted"><i class="far fa-thumbs-up" style="color:#FFA07A;"></i> {{q[5]}}   <i class="far fa-thumbs-down" style="color:#FBBC05;"></i> {{q[6]}} </small>
                              {% if q[3] == 'Medium' %}
                              <small class="text-warning"> Difficulty: {{q[3]}} </small>
                              {% elif q[3] == 'Easy'%}
                              <small class="text-success"> Difficulty: {{q[3]}} </small>
                              {% else %}
                              <small class="text-danger"> Difficulty: {{q[3]}} </small>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>                 
                      {% endfor %}

                    </div>
                  </div>

                  {% endif %}
                </div>
              </div>
            </div>

          </div>
  
          <div class="tab-pane active fade show" id="hints">
            <div class="album py-5">
              <div class="container">
          
                <div>
                  {% if topHints %}
                    {% for h in topHints %} 
                      <div class="col">
                        <div class="card shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" style="font-size: 18px;" width="100%" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#d0902f"/><text text-anchor="middle" y="50%" x="50%" fill="white" dy=".3em">{{h[0]}}</text></svg>
              
                          <div class="card-body">

                            <button class="btn btn-outline-light" style="font-size: 13px; color:#d0902f;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              Score
                            </button>
                        
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body" style="font-size: 13px;">
                              The similarity score is: {{h[1]}} 
                            </div>
                          </div>
                          <br>
                          <br>

                            <p class="card-text">{{h[2]}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <a href="{{h[3]}}" target="_blank" rel="noopener noreferrer" ><button type="button" class="btn btn-sm btn-outline-light" style="color: #d0902f;">Link to Explanation</button></a>
                              </div>
                              <small class="text-muted"></small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    {% endif %}

    </main>
  

    <footer style="background-color: #CD5C5C ">
        <p style ="color: white;">Versions: Current V3 | <a href="http://leethelperold.herokuapp.com/"> V2</a> | <a href="http://leethelperold.herokuapp.com/"> V1</a></p>
        <p style ="color: white;"><a href="https://github.com/yukeyang32/cs4300sp2021-ky442-jz2252-sg2474-wc655-ts864" ><i class="fab fa-github"></i></a>  @{{ name }}: {{ netid }}</p>
        
    </footer>

</body>
</html>
